{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="container">

<div class="aboutcontainer col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1>How to Use SnapAssist</h1>
<p>To search for photography locations for the subject matter of your choice, go to
the landing page and type your search keywords into the box.  SnapAssist will then
search through its database to find photos with matching tags, cluster the photos
using their geolocations, and plot the photos and clusters on a map.</p>

<center>
<p><img class="aboutimage" src="{{ url_for('static', filename='images/clustersummary.png') }}" title="SnapAssist pin example." /></p>
</center>

<p>On the map, the centre of each cluster is denoted by a blue pin. Clicking the
pin provides summary statistics and representative photos (and their EXIF data).
The clusters' centres are determined by averaging the longitudes and latitudes of their
constituent photos, weighted by the number of views of each photo.  The clusters' ranks
(#1, above) come from ordering the clusters' average number of views per photo divided
by their number of photos, a joint measure of the quality of the photos taken at a
location and how original the location is.</p>

<h1>About SnapAssist</h1>

<p>For information on how SnapAssist works, please see the readme on its
<a href='https://github.com/cczhu/snapassist'>GitHub page</a>.</p>

<p>SnapAssist was created by <a href='https://cczhu.github.io/'>Chenchong Charles Zhu</a>
as part of the Fall 2018 Insight Data Science fellowship in Toronto.  The slide deck
used to demo it is below:</p>

<br>
<center>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ2RDVBLChQwYHi1sYkdt9C8GYaz_XgVf3pqRPMOaYelgxgiYI4bzF6J7jqG_l9b0Umj-JXdjoZF-VG/embed?start=false&loop=false&delayms=3000" frameborder="0" width="656" height="398" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</center>
<br>

 </div> <!-- /.container-->
{% endblock %}
