{% extends "base.html" %}
{% set active_page = "input" %}

{% block content %}
<div class="welcome">
  <div class="welcome-text">
    <h1>Welcome to <span class="title-highlight">Snap</span>Assist</h1>
    <h3>What are you looking to photograph in Toronto?</h3>
    <br>
    <form class="navbar-form" _lpchecked="1" action="/output" method="GET">
       <div class="input-group">
          <input type="text" id="search_keywords" name="search_keywords" class="form-control fc-snap" placeholder="CN Tower">
         <span class="input-group-btn">
           <button type="submit" class="btn btn-default btn-lg btn-snap">Go!</button>
         </span>
       </div>
    </form>
    <div class="err-message">
      {{ err_message }}
    </div>
    <h4><br>Want to know how to use SnapAssist?  Go to our <a href="about">About Page!</a></h4>
  </div>
 </div>
{% endblock %}
