{% extends "base.html" %}
{% set active_page = "input" %}

{% block content %}
<div class="welcome">
  <div class="welcome-text">
    <h1>Welcome to SnapAssist</h1>
    <h3>What are you looking to photograph in Toronto?</h3>
    <br>
    <form class="navbar-form" _lpchecked="1" action="/output" method="GET">
       <div class="form-group">
          <input type="text" id="search_keywords" name="search_keywords" class="form-control" placeholder="Graffiti" >
       </div>
    </form>
    <div class="err-message">
      {{ err_message }}
    </div>
  </div>
 </div>
{% endblock %}
